body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;

  /* Colors */
  --color-gray-100: #301936;
  --color-gray-200: rgba(0, 0, 0, 0.05);

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-10xs: 3px;
}
